* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul,
li,
a {
  text-decoration: none;
  list-style: none;
}
body,
html {
  font-family: "Outfit";
  width: 100%;
  height: 100%;
  background: url("/img/background.jpg") no-repeat;
  background-size: cover;
}

.max {
  max-width: 1100px;
  margin: 0 auto;
}

/* HEADER */

header {
  width: 100%;
  align-items: center;
  display: flex;
  justify-content: space-between;
  font-size: 18px;
  margin: 10px auto 0px auto !important;
}

.logo {
  font-weight: bolder;
  color: #18022b;
}

.address {
  font-weight: bold;
  color: #18022b;
}

.navbar-social {
  display: flex;
  gap: 40px;
}
.navbar-social li {
  padding: 10px;
  transition: 0.5s ease-in-out;
}
.navbar-social li:hover {
  background-color: #fff;
  border-radius: 50%;
}
.navbar-social a {
  display: block;
  width: 30px;
  height: 30px;
}

/* Homepage */

.homepage {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80vh;
}

.homepage h1 {
  font-family: "Dancing Script";
  font-size: 128px;
  color: #38075f;
}

/* Unicornio */

.unicornio {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  position: relative;
}

.title-page {
  position: absolute;
  text-align: center;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.title-page h1 {
  margin-bottom: 30px;
  font-size: 64px;
  font-weight: bolder;
  color: #fff;
}
.title-page p {
  font-size: 24px;
  color: #fff;
  max-width: 428px;
}

img {
  max-width: 100%;
}

/* Parallax */

.parallax {
  padding: 30px;
  background-attachment: fixed;
  width: 100%;
  background-color: #fff;
}

.parallax p {
  margin: 0 auto;
  text-align: center;
  max-width: 750px;
  color: #38075f;
  font-size: 20px;
}

/* Grid-page */
.grid-page {
  gap: 30px;
  max-width: 1100px;
  width: 100%;
  height: 90vh;
  align-content: center;
  display: grid;
  margin: 0 auto;
  grid-template-columns: 1fr 1fr;
}

/* grid-texto */

.about-text {
  display: grid;
  gap: 30px;
}

.about-text h1 {
  font-size: 48px;
  color: #fff;
  font-weight: bolder;
}

.about-text p {
  color: #fff;
  font-size: 20px;
  font-weight: bold;
}
.subtext {
  display: grid;
  gap: 15px;
}
/* 
Grid-photos */

.grid-photos {
  height: 100%;
  display: grid;
  gap: 15px;
  grid-template-areas: "a a" "b c";
}

.grid1 {
  grid-area: a;
}
.grid2 {
  grid-area: b;
}
.grid3 {
  grid-area: c;
}

.gr {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  background-color: #fff;
}

/* grid-background */

.grid-page-main img {
  position: absolute;
  bottom: 0;
  width: 100%;
  z-index: -1;
}
.grid-page-main {
  position: relative;
}

/* Background-Milkshake-Animação */

.Animation {
  width: 100%;
  overflow-x: hidden;
  background-color: rgba(255, 255, 255, 0.733);
}
.Animation img {
  animation: caminhada 1s infinite alternate linear;
}

@keyframes caminhada {
  from {
    transform: rotate(45deg);
  }
  to {
    transform: rotate(0deg);
  }
}

.img-anima {
  padding: 15px 30px;
  display: flex;
  width: 200%;
  justify-content: space-around;
  animation: andar 20s infinite linear alternate-reverse;
}

@keyframes andar {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

/* DANONE */

.danone {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

#img-1 {
  position: absolute;
  width: 100%;
  bottom: 0;
  z-index: -1;
}

#Wave {
  position: absolute;
  bottom: 0;

  width: 100%;
}

.card-grid {
  position: relative;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  flex-wrap: wrap;
}
.card img {
  margin-top: 35px;
  padding: 5px;
  width: 174px;
  height: 174px;
  background-color: rgb(255, 255, 255);
  border-radius: 50%;
}
.card {
  padding: 0px 30px;
  height: 420px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgba(255, 255, 255, 0.35);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  backdrop-filter: blur(0.5px);
  -webkit-backdrop-filter: blur(0.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  max-width: 323px;
}

.card p {
  font-weight: bold;
  font-size: 24px;
  max-width: 220px;
  text-align: center;
  margin-top: 70px;
}

.card-down {
  margin-top: 300px;
}
.card-2 {
  margin-bottom: 150px;
}
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  padding: 15px 0;
}
